body{ 
 margin: 0 auto;
 font-size: 16px;
 width:750px;
}

body:before {
 content: "";
 display: block;
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 z-index: -10;
 background: url("texture.jpg") no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-attachment:fixed;
}

content {
 vertical-align:middle;
 text-align:center;
 width:750px;
}

#topbar{
 width: 100%;
 height: 6.5%;
 background:#FFFFFF;
}

#topbartxt{
 font-family: 'Source Sans Pro', sans-serif;
 font-weight:bold;
 font-style:italic;
 font-size:130%;
 vertical-align:middle;
 text-align:center;
}

#empty{
 height: 5%;
}

#artcontainer{
 margin: 0 auto;
 height:100%;
 width: 600px;
 vertical-align:middle;
 text-align:middle;
}

#art1{
 height: 77%;
 width: 100%;
}

#art2{
 height: 77%;
 width: 100%;
}

#toggle{
 cursor: pointer;
}

#dropdown{
 position: fixed;
 bottom: -100%;
 background: black;
 color: white;
 transition: all 600ms ease-out;
 width:600px;
}

#dropdown.active{
 bottom: 40%;
 background-color: #ffffff;
 min-width: 600px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 font-family: 'Source Sans Pro', sans-serif;
 font-weight:bold;
 font-style:italic;
 font-size:132%;
 vertical-align:middle;
 text-align:center;
 position:fixed;
}

#dropdown a {
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 font-family: 'Source Sans Pro', sans-serif;
 font-weight:bold;
 font-style:italic;
 font-size:132%;
 vertical-align:middle;
 text-align:center;
}

#toggle2{
 cursor: pointer;
}

#dropdown2{
 position: fixed;
 bottom: -100%;
 background: black;
 color: white;
 transition: all 600ms ease-out;
 width:600px;
}

#dropdown2.active{
 bottom: 40%;
 background-color: #ffffff;
 min-width: 600px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 font-family: 'Source Sans Pro', sans-serif;
 font-weight:bold;
 font-style:italic;
 font-size:132%;
 vertical-align:middle;
 text-align:center;
}

#dropdown2 a {
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 font-family: 'Source Sans Pro', sans-serif;
 font-weight:bold;
 font-style:italic;
 font-size:132%;
 vertical-align:middle;
 text-align:center;
}

#title {
 background-color: #333;
 color: #ffffff;
}

#link {
 color: #333;
}
